.container {
    max-width: 350px;
    border-radius: 20px;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 1.2) 0px 7px 29px 0px;
    background-color: white;
}

.form-row {
    display: flex;
    gap: 10px; /* Space between the input and button */
}
.form-row .form-group {
    flex: 1; /* Make the input field take up remaining space */
}
.form-control{
    margin-bottom: 10px;
}